.concertHall {
  background: #f5f5f5;
  border: solid 0.5px #ccc;
  border-radius: 40px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 800px;
  height: 100px;
  /* height: fit-content; */
  margin: -12px auto;
  font-size: 34px;
  font-weight: 600;
  padding-top: 20px;
}
.find-seat {
  margin: 35px auto;
  text-align: center;
  font-size: 20px;
}
.find-seat ul li {
  list-style-type: none;
  /* float: left; */
  display: inline;
  margin-left: 20px;
}
.find-seat label {
  margin-left: 8px;
}
#reviewRegister {
  border: 1px solid #999;
  width: 230px;
  display: block;
  font-size: 23px;
  letter-spacing: 1px;
  margin: 30px auto;
  padding: 7px 10px;
  border-radius: 20px;
  background-color: #aaa;
  color: white;
  font-weight: bold;
}
